* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    
    
}

body { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    
}

#logo {
    position: absolute;
    margin-left: 3%;
    top: 3%;
}

#logo img {
    border-radius: 2px;
    
}

#nav ul {
    position: absolute;
    margin-top: 3%;
    right: 3%;    
    
}

#nav ul li {
    display: inline; 
    
}

#nav ul li a {
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: 1.1em;
    
}

#nav ul li a:hover {
    color: #fc4a1a;
    background-color: white;
    border-radius: 2px;
    box-shadow: -3px 7px 30px 3px rgba(0, 0, 0, 0.2);
    
}

#title {
    margin-left: 3%;
    position: absolute;
    top: 25%;
    /* bottom: 10%; */
    
}

#title h1{
    color: white;
    font-size: 10em;
    
}

#topics {
    position: absolute;
    right: 0;
    margin-top: 7%;
    
}

#topics a {
     text-decoration: none;
    
}

#topics div{
    background-color: white;
    font-weight: bold;
    font-size: 1.3em;
    color: #fc4a1a;
    margin: 1em;
    margin-right: 0;
    padding-right: 5.5em;
    padding-left: 5.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    border-radius: 2px;
    box-shadow: -3px 7px 30px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

#topics div:hover {
    color: black;
    
}

@media screen and (max-width: 1300px) {
    #title {
        top: 25%;
        /* bottom: 14%; */

    }

    #title h1 {
        font-size: 8em;

    }

    #topics {
        margin-top: 10%;

    }

    #topics div {
        font-size: 1.2em;
        margin: 1em;
        margin-right: 0;
        padding-right: 5em;
        padding-left: 5em;
        padding-top: 2em;
        padding-bottom: 2em;

    }
}
    
@media screen and (max-width: 1050px) {
    #title {
        top: 25%;
        /* bottom: 14%; */

    }

    #title h1 {
        font-size: 7em;

    }

    #topics {
        margin-top: 12%;

    }

    #topics div {
        font-size: 1.1em;
        margin: 1em;
        margin-right: 0;
        padding-right: 4em;
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 2em;

    }
}
    
    @media screen and (max-width: 900px) {
        #title {
            top: 25%;
            /* bottom: 14%; */

        }

        #title h1 {
            font-size: 6em;

        }

        #topics {
            margin-top: 12%;

        }

        #topics div {
            font-size: 1.1em;
            margin: 1em;
            margin-right: 0;
            padding-right: 4em;
            padding-left: 4em;
            padding-top: 2em;
            padding-bottom: 2em;

        }
    }
        
@media screen and (max-width: 800px) {
    #title {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        margin-top: 10%;
        /* bottom: 10%; */

    }

    #title h1 {
        font-size: 5em;

    }

    #topics {
        margin-top: 12%;

    }

    #topics div {
        font-size: 1.1em;
        margin: 1em;
        margin-right: 0;
        padding-right: 4em;
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 2em;

    }
}

